<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:left">
  <div class="mat-toolbar">
  <div class="mat-headline">
    {{ title }}.
  </div>
  </div>

<!--  <input type="number" #inputNumber [(ngModel)]="amount"/>-->
  <form class="example-form">
    <mat-form-field class="example-full-width" >
      <input placeholder="Enter a number" matInput type="number" #inputNumber [formControl]="amount">
    </mat-form-field>

  </form>


  <div class="mat-subheading-1">- How Americans say?</div>
  <div class="mat-subheading-2">{{usWord}}</div>
  <div class="mat-subheading-1">How south asians say?</div>
  <div class="mat-subheading-2">{{indianWord}}</div>
</div>
